@font-face {
    font-family: 'FiraGO-light';
    src: url('../fonts/FiraGO-Light.eot');
    src: url('../fonts/FiraGO-Light.eot') format('embedded-opentype'),
        url('../fonts/FiraGO-Light.woff2') format('woff2'),
        url('../fonts/FiraGO-Light.woff') format('woff'),
        url('../fonts/FiraGO-Light.ttf') format('truetype'),
        url('../fonts/FiraGO-Light.svg') format('svg');
}
@font-face {
    font-family: 'FiraGO-semiBold';
    src: url('../fonts/FiraGO-SemiBold.eot');
    src: url('../fonts/FiraGO-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FiraGO-SemiBold.woff2') format('woff2'),
         url('../fonts/FiraGO-SemiBold.woff') format('woff'),
         url('../fonts/FiraGO-SemiBold.ttf')  format('truetype'),
         url('../fonts/FiraGO-SemiBold.svg#FiraGO') format('svg');
}